/* Donate Section */
.background-image {
    position: fixed; /* or use another positioning method */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire element */
    z-index: -1; /* Ensure it's behind other content */
  }
  
  .donate-section {
    padding: 50px;
    text-align: center;
    align-items: center;
  }
  
  .donate-section h2 {
    font-size: 28px;
    color: rgb(216, 216, 216);
    margin-bottom: 20px;
  }
  
  .cp {
    font-size: 16px;
    line-height: 1.6;
    color: #e6e6e6;
    margin-bottom: 30px;
    font-weight: 400;
  }
  
  .donation-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  
  .donation-option {
    height: 72px;
    background-color: rgba(249, 249, 249, 0.41);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .donation-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(249, 249, 249, 0.512);
  }
  
  .donation-option h3 {
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #101010;
  }
  
  .donation-option h3 img {
    height: 30px;
    margin-right: 10px;
  }
  
  .d2 h3 img {
    height: 27px;
  }
  
  .donation-option h3 span {
    font-weight: normal;
    white-space: nowrap;
  }
  
  .donate-section h2::selection, .donate-section span::selection, .donate-section img::selection, .donate-section p::selection, .donate-section h3::selection, .donate-section br::selection {
    background-color:#e6e6e6;
    color: #1d1d1d;
  }
  
  .net-banking-option {
    background-color: rgba(249, 249, 249, 0.512);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    justify-content: center;
    align-content: center;
  }
  
  .net-banking-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.275);
  }
  
  .net-banking-header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .net-banking-header h3 {
    font-size: 20px;
    color: #101010;
    display: flex;
    align-items: center;
  }
  
  .net-banking-header h3 img {
    height: 30px;
    margin-right: 10px;
  }
  
  .bank-info-container {
    display: flex;
    justify-content: center;
    text-align: left;
  }
  
  .bank-info {
    font-size: 15px;
    color: #101010;
    margin-bottom: 10px;
  }
  
  .bi {
    color: #101010;
    font-size: 17px;
  }
  