*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding:  5%;
  display: flex;
  align-items: center;
  justify-content: center;

}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  width: 80px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 100px;
  color:#fff;
  font-weight: 600;
  transition: 0.5;
  padding-top: 10%;

}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;

}

.content a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
.backvedio{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}



.carousel {
  display: flex;
  overflow-x: hidden;
}

.slide {
  flex: 0 0 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.slide-content h2 {
  margin-bottom: 10px;
}

.slide-content p {
  margin-bottom: 20px;
}

.explore-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.explore-btn:hover {
  background-color: #0056b3;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
right: 10px;
}