/* upi.css */

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.login-section {
    max-width: 400px;
    margin: 30px auto;
    padding: 40px;
    background-color: rgb(255, 254, 249);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-section h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #338b00;
    font-size: 24px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.login-section input[type="text"],
.login-section input[type="email"],
.login-section input[type="number"] {
    width: calc(100% - 22px); /* Adjust width to make the text boxes slightly larger */
    padding: 15px; /* Adjust padding to increase the size of the text boxes */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.login-section button[type="submit"] {
    padding: 10px 20px;
    background-color: #338b00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.login-section button[type="submit"]:hover {
    background-color: #338b00;
}
